*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    position: relative;
    top:0;
   
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 2-px 0px;
}
    
.navbar ul{
        display: flex;
        list-style: none;
        margin: 25px 0;
    }

.navbar ul li a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}    

.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    color: white;
}

/* Home Section*/
#home{
    display: flex;
    /* justify-content: flex-end; */


}
.portpic{
   height: 40vh; 
}


.name{
    text-align: center;
    /* display: inline-block; */
    
}

.contact{
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.main{   
   
}

.main
.headings{
    font-family: sans-serif;
    font-size: 30px; 
}

.heading{
    font-family: sans-serif;
    font-size: 40px; 
    margin-bottom:10px 10px 10px 10px;
}

/* about section */

#about{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: lightgrey;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    
}
#intro h2{
    font-size: 2rem;
    margin-bottom:20px;
    font-size: 40px; 
}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.gallery img{
    width: 460px;
    height:340;
    
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: gray;
}